<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/st1.css">
</head>
<body>
<div id="header"></div>
<div id="navigater"></div>
<div id="content">
	<div id="alignForm">
		<form action="/add" method="post">
			<table width=40%>
				<tr>
					<td colspan="2" align="center">
						<h3>會員註冊</h3>
					</td>
				</tr>
				<tr>
					<td>姓名:</td>
					<td><input type="text" name="name" size="10"></td>
				</tr>
				<tr>
					<td>帳號:</td>
					<td><input type="text" name="username" size="10"></td>
				</tr>
				<tr>
					<td>密碼:</td>
					<td><input type="password" name="password" size="10"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="ok">
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="footer"></div>
</body>
</html>